*{
    box-sizing: border-box;
}

.body{
    width: 50%;
    height: 700px;
    background-color: #7ebb5b;
    margin: 6% auto;
    padding-top: 6%;
}

.form{
    height: 75%;
    width: 60%;
    margin: 0 auto;
    background-color: #ffff;
    padding-top: 8%;
    box-shadow: 1px 1px 30px #000;
}

.form>input{
    display: flex;
    justify-content: center;
    padding: 4%;
    width: 70%;
    border: none;
    background-color: #f2f2f2;
    margin: 3% auto;
    font-size: medium;
}

.form>.btn-primary{
    text-transform: uppercase;
    color: #ffff;
    background-color: #53af50;
    border: none;
    cursor: pointer;
    font-size: medium;
}

.form>p{
    text-align: center;
    margin: 0;
}

.form>p>span{
    margin-right: 1%;
    color: grey;
}

.form>p>a{
    text-decoration: none;
    color: #53af50;
}